flame001.gif
flame002.gif
ladybug.psd
rotateTest.py
weaponClass.py
gameManage.exe
ladybug_draft.png
flame002_eruption.png
flame002_eruption.psd
sources
random_point_on_shape_test.py
warwagonplans.png
testing
flame001_10frames.png
flame002.png
flame002_original.png
flame001_original.png
__pycache__